{% extends 'admin/index.html.twig' %}

{% block title %}Admin Dashboard - Banned
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-g">
            {{ include('admin/banned/_banned_form.html.twig') }}
        </div>
        <div class="col-g border-left">
            <ul class="list-group banned-list">
                {% for banned in banned_ips %}
                    <li class="list-group-item d-flex space-between align-items-center">
                        <span>{{ banned.ipAddress }}
                            <abbr title="{{ banned.banTime|date("Y/m/d H:i", setting('timezone')) }}-{{ banned.unbanTime|date("Y/m/d H:i", setting('timezone')) }}">
                                {{ banned.banTime|dt2clock }}</abbr>
                            {{ banned.reason }}
                        </span>
                        {{ include('admin/banned/_unban_form.html.twig') }}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No IP addresses banned.
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
