{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% set route = app.request.get('_route') %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="admin">Admin Dashboard</h1>
            </div>
        </div>
    </div>
    {{ include ('secure/admin/_nav.html.twig') }}
    <div class="row">
        <div class="col-100">
            {% block main %}
                <div class="container">
                    <div class="row space-between text-center">
                        <div class="card col-20">
                            <div class="card-header">
                                <h4 class="my-0">Boards</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ board_count }}</h1>
                            </div>
                        </div>
                        <div class="card col-20">
                            <div class="card-header">
                                <h4 class="my-0">Bans</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ banned_count }}</h1>
                            </div>
                        </div>
                        <div class="card col-20">
                            <div class="card-header">
                                <h4 class="my-0">Users</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ user_count }}</h1>
                            </div>
                        </div>
                        <div class="card col-20">
                            <div class="card-header">
                                <h4 class="my-0">Word Filters</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ word_filter_count }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
