{{ form_start(user_form) }}
{{ form_errors(user_form) }}
<div class="form-group">
    <div class="form-row">
        {{ form_errors(user_form.password) }}
        <div class="col">
            <div class="input-group">
                {{ form_widget(user_form.password) }}
            </div>
        </div>
    </div>
</div>
<div class="input-group">
    <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
</div>

{{ form_end(user_form) }}
