{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="admin">Admin Dashboard</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#bans">Bans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#wordfilter">Word Filter</a>
                </li>
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane fade active show" id="bans">
                    <div class="row">
                        <div class="col-6">
                            {{ include('admin/_banned_form.html.twig') }}
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                {% for banned in banned_ips %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>{{ banned.ipAddress }}
                                        <abbr title="{{ banned.banTime|date("Y/m/d H:i") }}-{{ banned.unbanTime|date("Y/m/d H:i") }}">
                                        {{ banned.banTime|dt2clock }}</abbr></span>
                                        {{ include('admin/_unban_form.html.twig') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="users">
                    <p>Users</p>
                </div>
                <div class="tab-pane fade" id="wordfilter">
                    <p>Word Filter</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
