{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% set route = app.request.get('_route') %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="admin">Admin Dashboard</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_index' ? 'active' }}" href="{{ path('admin_index') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_banned' ? 'active' }}" href="{{ path('admin_banned') }}">Bans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_wordfilter' ? 'active' }}" href="{{ path('admin_wordfilter') }}">Word Filter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            {% block adminsection %}Administrator Dashboard.
            {% endblock %}
        </div>
    </div>
{% endblock %}
