{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% set route = app.request.get('_route') %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="admin">Admin Dashboard</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_index' ? 'active' }}" href="{{ path('admin_index') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_banned' ? 'active' }}" href="{{ path('admin_banned') }}">Bans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ route == 'admin_wordfilter' ? 'active' }}" href="{{ path('admin_wordfilter') }}">Word Filter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            {% block adminsection %}
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Bans</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ banned_count }}</h1>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Users</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">0</h1>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Word Filters</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ word_filter_count }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
