{% set board = app.request.get('name') %}
<div class="col-100">
        <ul class="pagination pagination-sm">
        {% if paginator.hasPreviousPage %}
            <li class="page-item previous">
                <a href="{{ path('board_show', {'name': board, 'page_no': paginator.previousPage}) }}" tabindex="0" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item previous disabled">
                <a class="page-link">Previous</a>
            </li>
        {% endif %}
        {% for i in 1..paginator.lastPage %}
            {% if i == paginator.currentPage %}
                <li class="page-item active">
                    <a href="{{ path('board_show', {'name': board, 'page_no': i}) }}" tabindex="0" class="page-link">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="{{ path('board_show', {'name': board, 'page_no': i}) }}" tabindex="0" class="page-link">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if paginator.hasNextPage %}
            <li class="page-item next">
                <a href="{{ path('board_show', {'name': board, 'page_no': paginator.nextPage}) }}" tabindex="0" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item next disabled">
                <a tabindex="0" class="page-link">Next</a>
            </li>
        {% endif %}
        </ul>
</div>
