<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {%- include '_analytics.html.twig' ignore missing -%}
        <link rel="icon" href="{{ asset('/vi.png') }}">
        <title>
            {%- block title -%}
                {{ setting('sitename') }}
            {%- endblock -%}
        </title>
        {%- block stylesheets -%}
            {{ encore_entry_link_tags('app') }}
        {%- endblock -%}
    </head>
    <body>
        <div class="container mb-1">
        <div class="board-menu text-center">
            {% for board in boards() %}
                [<a href="{{ path('board_show', {'name': board}) }}">{{ board }}</a>]
            {% endfor %}
        </div>
        </div>
        <div class="container pt-4">
            <div class="page-header text-center">
                <a href="{{ path('board_index') }}">
                    <img src="{{ asset('/vi.png') }}" width="120px">
                    <h1>{{ setting('sitename') }}</h1>
                </a>
                <p class="lead text-muted">{{ setting('leadtext') }}</p>
            </div>
            <hr>
            {%- for label, messages in app.flashes -%}
                {%- for message in messages -%}
                    <div class="row alert">
                        <div class="col-100">
                            <div class="alert-dismissible alert-{{ label }}" role="alert">
                                <button type="button" class="alert-close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            {%- endfor -%}
            {%- block body -%}{%- endblock -%}
            <hr>
            <div class="page-footer">
            {%- if app.user -%}
                <a href="{{ path('user_index') }}">{{ app.user.username }}</a> <a href="{{ path('user_logout') }}">Logout</a>
            {%- else -%}
                <a href="{{ path('user_login') }}">Login</a>
            {%- endif -%}
            {%- block footer -%}{%- endblock -%}
            </div>
        </div>
        {%- block javascripts -%}
            {{ encore_entry_script_tags('app') }}
        {%- endblock -%}
    </body>
</html>
