<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="{{ asset('/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/boards.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ asset('/violet_icon.png') }}">
        <title>
            {% block title %}{{ sitename }}{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container pt-4">
            <div class="page-header text-center">
                <a href="{{ path('board_index') }}"><img src="{{ asset('/violet_icon.png') }}" width="120px">
                <h1>{{ sitename }}</h1></a>
                <p class="lead text-muted">{{ leadtext }}</p>
            </div>
            <hr>
            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('upload.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
