<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {%- include '_analytics.html.twig' ignore missing -%}
        <link href="{{ asset('/css/main.css') }}" rel="stylesheet">
        {# <link href="{{ asset('/css/bs.css') }}" rel="stylesheet"> #}
        {# <link href="{{ asset('/css/b.css') }}" rel="stylesheet"> #}
        {# <link href="{{ asset('/css/p.css') }}" rel="stylesheet"> #}
        <link rel="icon" href="{{ asset('/vi.png') }}">
        <title>
            {%- block title -%}
                {{- sitename -}}
            {%- endblock -%}
        </title>
        {%- block stylesheets -%}{%- endblock -%}
    </head>
    <body>
        <div class="container pt-4">
            <div class="page-header text-center">
                <a href="{{ path('board_index') }}">
                    <img src="{{ asset('/vi.png') }}" width="120px">
                    <h1>{{ sitename }}</h1>
                </a>
                <p class="lead text-muted">{{ leadtext }}</p>
            </div>
            <hr>
            {%- for label, messages in app.flashes -%}
                {%- for message in messages -%}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-dismissible alert-{{ label }} fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            {%- endfor -%}
            {%- block body -%}{%- endblock -%}
            <hr>
            <div class="page-footer text-center">
            {%- if app.user -%}
                <a href="{{ path('admin_index' ) }}">{{ app.user.username }}</a> <a href="{{ path('app_logout' ) }}">Logout</a>
            {%- else -%}
                <a href="{{ path('app_login' ) }}">Login</a>
            {%- endif -%}
            </div>
        </div>
        <script src="{{ asset('js/bs.min.js') }}"></script>
        <script src="{{ asset('js/p.min.js') }}"></script>
        <script src="{{ asset('js/i.min.js') }}"></script>
        {%- block javascripts -%}{%- endblock -%}
    </body>
</html>
