{% extends 'base.html.twig' %}

{% block title %}
    {{ setting('sitename') }} - {{ board.name }}
{% endblock %}
{%- block stylesheets -%}
    {{ parent() }}
    {{ encore_entry_link_tags('board') }}
{%- endblock -%}
{% set only3 = true %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="boards">{{ board.name }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-30 m-auto">
            {% set button_label='New Post' %}
            {{ include('post/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        {% for post in paginator.results %}
            <div class="col-100">
                {% include 'post/_post.html.twig' %}
            </div>
        {% else %}
            <div class="col-100">
                <p>No posts to show.</p>
            </div>
        {% endfor %}
    </div>
    {% if paginator.hasToPaginate %}
    <div class="row">
        {% include '_pagination.html.twig' %}
    </div>
    {% endif %}
{% endblock %}
{# {%- block footer -%}
<a href="{{ path('board_edit', {'name': board.name}) }}">Edit</a>
{%- endblock -%} #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('board') }}
{% endblock %}