{% extends 'base.html.twig' %}

{% block title %}
    {{ sitename }}
    -
    {{ board.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-header">
                <h1 id="boards">{{ board.name }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-auto">
            {% set button_label='New Post' %}
            {{ include('post/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        {% if posts|length %}
            {% for row in posts|batch(posts|length/2) %}
                <div class="col-6">
                    {% for post in row %}
                        {% set only3 = true %}
                        {% include 'post/_post.html.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No posts to show.</p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% include '_pagination.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/upload.js') }}"></script>
{% endblock %}
