{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group">
    <div class="form-row">
        <div class="col">
            {{ form_errors(form.title) }}
            <div class="input-group">
                {{ form_widget(form.title) }}
                <div class="input-group-append">
                    <button tabindex="3" class="btn btn-primary">{{ button_label|default('Post') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_errors(form.message) }}
<div class="form-group">
    {{ form_widget(form.message) }}
</div>
{{ form_errors(form.imageFile) }}
<div class="form-group">
    {{ form_widget(form.imageFile) }}
</div>
{{ form_end(form) }}
