{%- set reply_id = reply_id ?? null -%}
<div id="{{ post.slug }}" class="post-container{% if ajax is defined %} post-fresh{% endif %}">
<div class="mt-p5 post{% if child is defined %}{{ post.id == child.id ? ' post-highlight' }}{% endif %}{{ post.id == reply_id ? ' post-reply' }}">
    <div class="post-head px-2 ">
        <button type="button" class="btn-collapse" data-toggle="collapse" data-target="{{ post.slug }}" aria-expanded="true" aria-controls="{{ post.slug }}">
            <span aria-hidden="true">&minus;</span>
        </button>
        <span>
            {{ post.created|date("d/m/Y H:i:s", setting('timezone')) }}
            [ID. {{ post.slug }}]
            [<a href="{{ path('post_show', {'board': post.board.name, 'post': post.slug}) }}" class="reply_button post_{{ post.id }}">Reply</a>]
            {%- if is_granted('ROLE_USER') -%}
                {{ include('post/_delete_form.html.twig') }}
                <span class="text-info">
                    [<a href="{{ path('admin_banned', {'ipAddress': post.ipAddress}) }}">Ban</a>]
                    [<a href="{{ path('admin_ip_posts', {'ipAddress': post.ipAddress}) }}">{{ post.ipAddress }}</a>]
                </span>
            {%- endif -%}
        </span>
    </div>
    <div class="p-2">
        <div class="post-body">
        {%- if post.imageName is not null -%}
            <div class="col-20">
                {%- if post.imageMimeType == 'video/webm' -%}
                    <video class="post-video" src="{{ vich_uploader_asset(post) }}" controls></video>
                {%- endif -%}

                {%- if post.imageMimeType starts with 'image/' -%}
                <a href="{{ post.imageName | imagine_filter('img') }}" class="mr-3">
                    <img src="{{ post.imageName | imagine_filter('thumb') }}" class="post-image img-thumbnail" alt="{{ post.imageName }}">
                </a>
                {%- endif -%}
            </div>
        {%- endif -%}
            <div class="col-80">
                <div class="m-0 message">
                {{ post.message|nl2br|codeblock|urltoanchor|crosslink|greentext }}
                </div>
            </div>
        </div>

    </div>
</div>

        {%- if childLevel is defined and childLevel == true -%}
        {%- elseif only3 is defined and only3 == true -%}
                {%- set childLevel = true -%}
                {%- for post in post.childpost|slice(-3, 3) -%}
                    {{ include('post/_post.html.twig') }}
                {%- endfor -%}
        {%- else -%}
                {%- for post in post.childpost -%}
                    {{ include('post/_post.html.twig') }}
                {%- endfor -%}
        {%- endif -%}
</div>