{% extends 'base.html.twig' %}

{% block title %}
    {{ setting('sitename') }} - {{ post.board.name }}
{% endblock %}
{%- block stylesheets -%}
    {{ parent() }}
    {{ encore_entry_link_tags('post') }}
{%- endblock -%}

{% set reply_id = app.request.attributes.get('post').id %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-header">
                <h1 id="post_show">
                    <a href="{{ path('board_show', {'name': post.board.name}) }}">{{post.board.name }}</a>
                </h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="posts">
            {% include "post/_post.html.twig" %}
        </div>
        <div class="reply-form">
            <div class="sticky-top">
                {% set button_label='Reply' %}
                {{ include('post/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('post') }}
{% endblock %}