{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="post">{{ post.title }}</h1>
                <a class="btn btn-sm btn-dark" href="{{ path('board_show', {'name': post.board.name}) }}">{{ post.board.name }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-auto">
            {{ include('post/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    {{ post.title }}
                    <span class="float-right">
                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                        {{ include('post/_delete_form.html.twig') }}
                    </span>
                </div>
                <div id="{{ post.id }}">
                    <div class="card-body">
                        <p class="card-text">
                        {{ post.message|nl2br|gt2quote }}</p>
                        <sub class="float-right text-muted">{{ post.created|date("Y-m-d H:i:s") }}</sub>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "post/_tree.html.twig" %}
{% endblock %}
