{% extends 'base.html.twig' %}

{% block title %}Edit Board{% endblock %}
{% set route = app.request.get('_route') %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="admin">Edit Board</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-100">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{ route == 'board_edit' ? 'active' }}" href="{{ path('board_edit', {'name': board.name }) }}">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ route == 'board_editpassword' ? 'active' }}" href="{{ path('board_editpassword', {'name': board.name }) }}">Edit Password</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
        {% block boardsectio %}
        {{ include('board_admin/_form.html.twig', {'button_label': 'Update'}) }}
        <hr>
        <div class="float-right">{{ include('board_admin/_delete_form.html.twig') }}</div>
        {% endblock %}
        </div>
    </div>
{% endblock %}
